html, body, .secondlayer {
    min-height: 100vh;
}

.secondlayer{
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body, div, h1, form, input, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    color: #666;
}

h1 {
    font-weight: 300;
    text-align: center;
    color: rgba(105, 12, 10, 1);
}

hr {
    color: #a9a9a9;
    opacity: 0.3;
    margin: 1em 0;
}

.main-block {
    max-width: 90vw;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    background: white;
}

form {
    text-align: center;
}

input[type=radio] {
    display: none;
}

label#icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
}

input[type=text], input[type=password] {
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    background: #fff;
}

.icon {
    display: inline-block;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0);
    background: #fff;
    color: rgba(105, 12, 10, 1);
    text-align: center;
}

.btn-block {
    text-align: center;
}

button {
    width: 100%;
    border-radius: 5px;
    border: none;
    background: rgba(105, 12, 10, 1);
    font-weight: 600;
    color: #fff;
}

#logo {
    margin: auto;
    height: 9em;
}

.align-center {
    text-align: center;
    width: 100%;
}

button:hover {
    background: rgba(253, 138, 6, 1);
}

@media (pointer: coarse) {
    body, div, form, input {
        font-size: 1.2em;
    }

    h1 {
        padding: 10px 0;
        font-size: 1.4em;
        font-weight: bold;
    }

    p {
        font-size: 0.9em;
    }

    .main-block {
        max-width: 90vw;
        padding: 2em 0;
        margin: 25px auto;
        border-radius: 5px;
    }

    form {
        margin: 0 30px;
    }

    .account-type, .gender {
        margin: 15px 0;
    }

    input[type=text], input[type=password] {
        width: 70%;
        height: 36px;
        margin: 35px 0 0 20px;
        padding: 30px;
    }

    .icon {
        padding: 9.3px 15px;
        width: 1.5em;
    }

    button {
        padding: 18px 0;
        margin: 10px auto;
        font-size: 1em;
    }
}

@media (pointer: fine) {
    body, div, form, input {
        font-size: 1em;
    }

    h1 {
        padding: 10px 0;
        font-size: 1.2em;
        font-weight: bold;
    }

    p {
        font-size: 1em;
    }

    .main-block {
        max-width: 90vw;
        padding: 2em 0;
        margin: 25px auto;
        border-radius: 5px;
    }

    form {
        margin: 0 30px;
    }

    .account-type, .gender {
        margin: 15px 0;
    }

    input[type=text], input[type=password] {
        width: 70%;
        height: 20px;
        margin: 20px 0 0 20px;
        padding: 20px;
    }

    .icon {
        padding: 9.3px 15px;
        width: 1.5em;
    }

    .btn-block {
        margin-top: 10px;
    }

    button {
        padding: 18px 0;
        margin: 10px auto;
        font-size: 1em;
    }
}
