AddDefaultCharset UTF-8
Options +FollowSymlinks
RewriteEngine on

RewriteRule ^$ layout.php?content=index.php&nav=nav.html [NC,QSA,L,END]
RewriteCond %{REQUEST_URI} !^/admin/logedin/export.php
RewriteRule ^(logedin(|(/.*\.php|/.*\.html|/[^.]*)))$ layout.php?content=$1&nav=logedin/nav.html [NC,QSA,L,END]
RewriteCond %{REQUEST_URI} !^/admin/logedin/export.php
RewriteRule ^(.*\.php|.*\.html|[^.]*)$ layout.php?content=$1&nav=nav.html [NC,QSA,L,END]
