html,
body {
    min-height: 100%;
}

body,
div,
form,
input,
select,
textarea,
label,
p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: thin lightgray solid;
}

nav ul li {
    display: inline-block;
    position: relative;
    text-align: left;
    list-style-type: none;
    border-right: thin lightgray solid;
}

nav ul li:last-of-type {
    float: right;
    border-right: none;
    border-left: thin lightgray solid;
}

nav ul li a {
    display: block;
    line-height: 2em;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

label {
    width: 100%;
    display: inline-block;
}

h1 {
    position: absolute;
    margin: 0;
    font-size: 40px;
    color: #fff;
    z-index: 2;
    line-height: 83px;
}

textarea {
    width: calc(100% - 12px);
    padding: 5px;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}

form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 8px #669999;
}

.banner {
    position: relative;
    height: 300px;
    background-image: url("/uploads/media/default/0001/02/8070c999efd1a155ad843379a5508d16f544aeaf.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
}

input,
select,
textarea,
.input {
    border: 1px solid #ccc;
    border-radius: 3px;
}

input,
.input {
    width: calc(100% - 10px);
    padding: 5px;
}

input[type="date"] {
    padding: 4px 5px;
}

textarea {
    width: calc(100% - 12px);
    padding: 5px;
}

.item:hover p,
.item:hover .icon,
.question:hover p,
.question label:hover,
input:hover::placeholder {
    color: #669999;
}

.item input:hover,
.item select:hover,
.item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 #669999;
    color: #669999;
}

.item {
    position: relative;
    margin: 10px 0;
}

.item label span {
    color: red;
}

.week {
    display: flex;
    justfiy-content: space-between;
}

.colums {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.colums > div {
    width: 48%;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.item .icon,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a3c2c2;
}

.item .icon {
    right: 1%;
    top: 30px;
    z-index: 1;
}

input[type=radio],
input[type=checkbox] {
    display: none;
}

label.radio {
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
}

.question span {
    margin-left: 30px;
}

.question-answer label {
    display: block;
}

label.radio:before {
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

input[type=radio]:checked + label:before,
label.radio:hover:before {
    border: 2px solid #669999;
}

label.radio:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 8px;
    height: 4px;
    border: 3px solid #669999;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}

input[type=radio]:checked + label:after {
    opacity: 1;
}

.flax {
    display: flex;
    justify-content: space-around;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #5c5e5e;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #9ba0a0;
}

.flex-columns {
    display: flex;
    width: 100%;
}

.flex-columns > * {
    flex-grow: 2;
}

.color-selector-container,
.color-selector-container--select-background,
.color-selector-container--select-textcolor {
    position: relative;
}

.color-selector-container input,
.color-selector-container--select-background input,
.color-selector-container--select-textcolor input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.color-selector-container label,
.color-selector-container--select-background label,
.color-selector-container--select-textcolor label {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.color-selector-container--select-background label {
    color: white;
}

.color-selector-container--select-textcolor label {
    background-color: white;
}

@media (min-width: 568px) {

    .name-item,
    .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .name-item input,
    .name-item div {
        width: calc(50% - 20px);
    }

    .name-item div input {
        width: 97%;
    }

    .name-item div label {
        display: block;
        padding-bottom: 5px;
    }
}